<div class="jumbotron" id="#">
	<div class="container">
		<div class="hero">
			<h1>Build this website. In one hour.</h1>
			<h3>On the 17th of February Code First Girls will be hosting a 1 hour workshop that will help you build this website.</h3>
			<span>If you'd like to attend the workshop. Just sign up below and we'll get back to you.</span>
			<form class="form-inline" role="form" method="post" action="https://romantical.wufoo.com/forms/q1ew7ee91719c2p/#public">
				<div class="form-group">
					<input id="Field2" class="form-control" name="Field2" type="text" value="" tabindex="1" placeholder="First Name" />
				</div>
				<div class="form-group">
					<input id="Field3" class="form-control" name="Field3" type="text" value="" tabindex="2" placeholder="Last Name"/>
				</div>
				</br>
				<div class="form-group">
					<input id="Field4" class="form-control" name="Field4" type="email" spellcheck="false" value="" maxlength="255" tabindex="3" placeholder="Email Address" /> 
				</div>
				</br>
				<div class="form-group">
			  		<button id="saveForm" name="saveForm" type="submit" class="btn btn-default" value="Submit">Register</button>
					<input type="hidden" id="idstamp" name="idstamp" value="po33ToeUiasEpeUMC3bnMzqs4w8RMat8CWrr/inf6BQ=" />
				</div>
			</form>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.onehourbootstrap.com" data-text="I'm going to learn to build a website using @twbootstrap" data-via="CodeFirstGirls" data-related="ubc_founder" data-hashtags="YearOfCode">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
		</div>
	</div>
</div>

<section id="about">
	<div class="smoke">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h1>Bootstrap</h1>
					<p>
						This website can be built in an hour because it uses the CSS framework <a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a> developed by the team at Twitter. It also uses the pre-built Sinatra application with Bootstrap integrated, available to clone from <a href="http://www.github.com/brownie3003/oneminutewebapp" target="_blank">here</a>.
					</p>
					<p>
						During the workshop we will go over some of the basic components of Bootstrap, the grid based layout system, the default styling, and some neat Javascript functionality. Check out some <a href="http://www.lovebootstrap.com/" target="_blank">cool examples</a> of websites built using Bootstrap.
					</p>
				</div>
				<div class="col-sm-4">
					<h1>Personal</h1>
					<p>
						The aim of this workshop is for you to build your own website. We want you to personalise it. We will help you apply your own design to the website.
					</p>
					<p>
						Come with an idea and a name for your site. Use google to find a marketing photo for the top section. You can even buy a domain name (you don't have to though!) and we will help you set it up so anyone can visit it. If you want to buy a domain try <a href="http://www.godaddy.com" target="_blank">www.godaddy.com</a> or <a href="http://www.123-reg.co.uk" target="_blank">www.123-reg.co.uk</a>.
					</p>
				</div>
				<div class="col-sm-4">
					<h1>Code First Girls</h1>
					<p>
						This workshop is held as part of the <a href="http://www.codefirstgirls.org.uk" target="_blank">Code First Girls</a> initiative. Coding can be useful to any career path. Coding today is akin to learning Microsoft office in the 90s, those that do it will have an advantage. We also hope to inspire some of you to further study or help you test business idea using your coding skills.
					</p>
					<p>
						This year is the <a href="http://www.yearofcode.org">Year of Code</a>. If you are not already enrolled on Code First Girls, or even if you are, we would suggest you check out <a href="http://www.yearofcode.org">Year of Code</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="requirements" class="last-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Requirements: None</h1>
				<p>
					We want to make learning to code accessible to everyone. No one should be put off by requirements. As long as you have a laptop and come along, you can learn to build this website. There are a few things that you will need on your computer to build this website and if you've been doing Code First Girls you've probably already got them. We've provided some links to help you install them onto your computer if you don't have them already. Please give it a go but don't worry if you can't do it.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h1>Windows</h1>
				<table class="table table-hover white">
					<thead>
						<tr>
							<th>Technology</th>
							<th>Description</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Git &amp; Github</td>
							<td>
								Git is version control. Have you ever had myessayv1.docx, myessayv1.2.docx, myessay_final_version.dox, myessay_actually_final_version.docx.... you get the idea and have probably done it. Git prevents this.</br> </br>
								Github is a way to store your code online, in 'the cloud', so that you can access it from anywhere and more importantly other people can access it. It's the way we can do <a href="http://www.oneminutebootstrap" target="_blank">One Minute Bootstrap</a> because all the code is readily available.
							</td>
							<td>
								<a href="https://help.github.com/articles/set-up-git#platform-windows" target="blank">Github Tutorial</a>
							</td>
						</tr>
						<tr>
							<td>Ruby</td>
							<td>
								Ruby is a programming language. Unlike HTML &amp; CSS which are templates, ruby allows you to do cool stuff like calculations and logic. We won't learn much about Ruby in this hour, it's just takes care of the magic behind the scenes using a program called <a href="http://www.sinatrarb.com/">Sinatra</a> </br></br>
								You don't need to install Ruby if you're on Mac, it comes pre-installed. Please open your Terminal and type ruby -v. If the result the version number is lower than 2.0 or the terminal goes bananas, let us know as the start of the workshop.
							</td>
							<td>
								<a href="http://rubyinstaller.org/">Ruby Installer</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h1>Mac</h1>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Technology</th>
							<th>Description</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Terminal</td>
							<td>The terminal, or command line, is a text based way to navigate through your computer and give it commands. Sounds bonkers right? However text commands can be quicker and more powerful than a graphical user interface and using your mouse/trackpad. There isn't anything to download for a mac, but we've provided a link to a basic tutorial. We'd recommend it only if you're extremely keen, it can be quite dry.</td>
							<td><a href="http://mac.appstorm.net/how-to/utilities-how-to/how-to-use-terminal-the-basics/" taget="_blank">Terminal Tutorial</a></td>
						</tr>
						<tr>
							<td>Git &amp; Github</td>
							<td>
								Git is version control. Have you ever had myessayv1.docx, myessayv1.2.docx, myessay_final_version.dox, myessay_actually_final_version.docx.... you get the idea and have probably done it. Git prevents this.</br> </br>
								Github is a way to store your code online, in 'the cloud', so that you can access it from anywhere and more importantly other people can access it. It's the way we can do <a href="http://www.oneminutebootstrap" target="_blank">One Minute Bootstrap</a> because all the code is readily available.
							</td>
							<td>
								<a href="https://help.github.com/articles/set-up-git" target="blank">Github Tutorial</a>
							</td>
						</tr>
						<tr>
							<td>Ruby</td>
							<td>
								Ruby is a programming language. Unlike HTML &amp; CSS which are templates, ruby allows you to do cool stuff like calculations and logic. We won't learn much about Ruby in this hour, it's just takes care of the magic behind the scenes using a program called <a href="http://www.sinatrarb.com/">Sinatra</a> </br></br>
								You don't need to install Ruby if you're on Mac, it comes pre-installed. Please open your Terminal and type ruby -v. If the result the version number is lower than 2.0 or the terminal goes bananas, let us know as the start of the workshop.
							</td>
							<td>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h1><a href="http://www.youtube.com/watch?v=LanCLS_hIo4" target="_blank">Don't worry (about a thing)</a></h1>
				<p>
					Don't worry if you can't install any of the tools or follow any of the tutorials. We will help you at the workshop. Although we will let you into a little developer secret... most of our expertise is just Google. If you get stuck, try googling the exact error that your computer is giving and chances are someone else will have experienced it and someone else eminently more intelligent than all of us will have solved it. Stack Overflow is your friend.
				</p>
			</div>
		</div>
	</div>
</section>